<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DueñoEditDlg" widgetVar="DueñoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDueñoTitle}">
            <h:form id="DueñoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{dueñoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDueñoLabel_pkDueño}" for="pkDueño" />
                        <p:inputText id="pkDueño" value="#{dueñoController.selected.pkDueño}" title="#{bundle.EditDueñoTitle_pkDueño}" required="true" requiredMessage="#{bundle.EditDueñoRequiredMessage_pkDueño}"/>
                        <p:outputLabel value="#{bundle.EditDueñoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{dueñoController.selected.nombre}" title="#{bundle.EditDueñoTitle_nombre}" required="true" requiredMessage="#{bundle.EditDueñoRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{dueñoController.update}" value="#{bundle.Save}" update="display,:DueñoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DueñoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DueñoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
