<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DueñoViewDlg" widgetVar="DueñoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDueñoTitle}">
            <h:form id="DueñoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{dueñoController.selected != null}">
                        <h:outputText value="#{bundle.ViewDueñoLabel_pkDueño}"/>
                        <h:outputText value="#{dueñoController.selected.pkDueño}" title="#{bundle.ViewDueñoTitle_pkDueño}"/>
                        <h:outputText value="#{bundle.ViewDueñoLabel_nombre}"/>
                        <h:outputText value="#{dueñoController.selected.nombre}" title="#{bundle.ViewDueñoTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DueñoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
