<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaletinCreateDlg" widgetVar="MaletinCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMaletinTitle}">
            <h:form id="MaletinCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{maletinController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMaletinLabel_pkMaletin}" for="pkMaletin" />
                        <p:inputText id="pkMaletin" value="#{maletinController.selected.pkMaletin}" title="#{bundle.CreateMaletinTitle_pkMaletin}" required="true" requiredMessage="#{bundle.CreateMaletinRequiredMessage_pkMaletin}"/>
                        <p:outputLabel value="#{bundle.CreateMaletinLabel_contenido}" for="contenido" />
                        <p:inputText id="contenido" value="#{maletinController.selected.contenido}" title="#{bundle.CreateMaletinTitle_contenido}" required="true" requiredMessage="#{bundle.CreateMaletinRequiredMessage_contenido}"/>
                        <p:outputLabel value="#{bundle.CreateMaletinLabel_fkDueño}" for="fkDueño" />
                        <p:selectOneMenu id="fkDueño" value="#{maletinController.selected.fkDueño}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_fkDueño}">
                            <f:selectItems value="#{dueñoController.itemsAvailableSelectOne}"
                                           var="fkDueñoItem"
                                           itemValue="#{fkDueñoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateMaletinLabel_fkEdificio}" for="fkEdificio" />
                        <p:selectOneMenu id="fkEdificio" value="#{maletinController.selected.fkEdificio}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_fkEdificio}">
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="fkEdificioItem"
                                           itemValue="#{fkEdificioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{maletinController.create}" value="#{bundle.Save}" update="display,:MaletinListForm:datalist,:growl" oncomplete="handleSubmit(args,'MaletinCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MaletinCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
