<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaletinEditDlg" widgetVar="MaletinEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMaletinTitle}">
            <h:form id="MaletinEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{maletinController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMaletinLabel_pkMaletin}" for="pkMaletin" />
                        <p:inputText id="pkMaletin" value="#{maletinController.selected.pkMaletin}" title="#{bundle.EditMaletinTitle_pkMaletin}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_pkMaletin}"/>
                        <p:outputLabel value="#{bundle.EditMaletinLabel_contenido}" for="contenido" />
                        <p:inputText id="contenido" value="#{maletinController.selected.contenido}" title="#{bundle.EditMaletinTitle_contenido}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_contenido}"/>
                        <p:outputLabel value="#{bundle.EditMaletinLabel_fkDueño}" for="fkDueño" />
                        <p:selectOneMenu id="fkDueño" value="#{maletinController.selected.fkDueño}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_fkDueño}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{dueñoController.itemsAvailableSelectOne}"
                                           var="fkDueñoItem"
                                           itemValue="#{fkDueñoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditMaletinLabel_fkEdificio}" for="fkEdificio" />
                        <p:selectOneMenu id="fkEdificio" value="#{maletinController.selected.fkEdificio}" required="true" requiredMessage="#{bundle.EditMaletinRequiredMessage_fkEdificio}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="fkEdificioItem"
                                           itemValue="#{fkEdificioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{maletinController.update}" value="#{bundle.Save}" update="display,:MaletinListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MaletinEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MaletinEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
