<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMaletinTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MaletinListForm">
                <p:panel header="#{bundle.ListMaletinTitle}">
                    <p:dataTable id="datalist" value="#{maletinController.items}" var="item"
                                 selectionMode="single" selection="#{maletinController.selected}"
                                 paginator="true"
                                 rowKey="#{item.pkMaletin}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaletinTitle_pkMaletin}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkMaletin}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaletinTitle_contenido}"/>
                            </f:facet>
                            <h:outputText value="#{item.contenido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaletinTitle_fkDueño}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkDueño}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaletinTitle_fkEdificio}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEdificio}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{maletinController.prepareCreate}" update=":MaletinCreateForm" oncomplete="PF('MaletinCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MaletinViewForm" oncomplete="PF('MaletinViewDialog').show()" disabled="#{empty maletinController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MaletinEditForm" oncomplete="PF('MaletinEditDialog').show()" disabled="#{empty maletinController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{maletinController.destroy}" update=":growl,datalist" disabled="#{empty maletinController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
