<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaletinViewDlg" widgetVar="MaletinViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMaletinTitle}">
            <h:form id="MaletinViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{maletinController.selected != null}">
                        <h:outputText value="#{bundle.ViewMaletinLabel_pkMaletin}"/>
                        <h:outputText value="#{maletinController.selected.pkMaletin}" title="#{bundle.ViewMaletinTitle_pkMaletin}"/>
                        <h:outputText value="#{bundle.ViewMaletinLabel_contenido}"/>
                        <h:outputText value="#{maletinController.selected.contenido}" title="#{bundle.ViewMaletinTitle_contenido}"/>
                        <h:outputText value="#{bundle.ViewMaletinLabel_fkDueño}"/>
                        <h:outputText value="#{maletinController.selected.fkDueño}" title="#{bundle.ViewMaletinTitle_fkDueño}"/>
                        <h:outputText value="#{bundle.ViewMaletinLabel_fkEdificio}"/>
                        <h:outputText value="#{maletinController.selected.fkEdificio}" title="#{bundle.ViewMaletinTitle_fkEdificio}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MaletinViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
