<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EdificioCreateDlg" widgetVar="EdificioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEdificioTitle}">
            <h:form id="EdificioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{edificioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_fkEdificio}" for="fkEdificio" />
                        <p:inputText id="fkEdificio" value="#{edificioController.selected.fkEdificio}" title="#{bundle.CreateEdificioTitle_fkEdificio}" required="true" requiredMessage="#{bundle.CreateEdificioRequiredMessage_fkEdificio}"/>
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_fkCiudad}" for="fkCiudad" />
                        <p:inputText id="fkCiudad" value="#{edificioController.selected.fkCiudad}" title="#{bundle.CreateEdificioTitle_fkCiudad}" required="true" requiredMessage="#{bundle.CreateEdificioRequiredMessage_fkCiudad}"/>
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{edificioController.selected.capacidad}" title="#{bundle.CreateEdificioTitle_capacidad}" required="true" requiredMessage="#{bundle.CreateEdificioRequiredMessage_capacidad}"/>
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_codigoPostal}" for="codigoPostal" />
                        <p:inputText id="codigoPostal" value="#{edificioController.selected.codigoPostal}" title="#{bundle.CreateEdificioTitle_codigoPostal}" />
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_edificio}" for="edificio" />
                        <p:selectOneMenu id="edificio" value="#{edificioController.selected.edificio}" >
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="edificioItem"
                                           itemValue="#{edificioItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEdificioLabel_edificio1}" for="edificio1" />
                        <p:selectOneMenu id="edificio1" value="#{edificioController.selected.edificio1}" required="true" requiredMessage="#{bundle.EditEdificioRequiredMessage_edificio1}">
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="edificio1Item"
                                           itemValue="#{edificio1Item}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{edificioController.create}" value="#{bundle.Save}" update="display,:EdificioListForm:datalist,:growl" oncomplete="handleSubmit(args,'EdificioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EdificioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
