<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EdificioEditDlg" widgetVar="EdificioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEdificioTitle}">
            <h:form id="EdificioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{edificioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEdificioLabel_fkEdificio}" for="fkEdificio" />
                        <p:inputText id="fkEdificio" value="#{edificioController.selected.fkEdificio}" title="#{bundle.EditEdificioTitle_fkEdificio}" required="true" requiredMessage="#{bundle.EditEdificioRequiredMessage_fkEdificio}"/>
                        <p:outputLabel value="#{bundle.EditEdificioLabel_fkCiudad}" for="fkCiudad" />
                        <p:inputText id="fkCiudad" value="#{edificioController.selected.fkCiudad}" title="#{bundle.EditEdificioTitle_fkCiudad}" required="true" requiredMessage="#{bundle.EditEdificioRequiredMessage_fkCiudad}"/>
                        <p:outputLabel value="#{bundle.EditEdificioLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{edificioController.selected.capacidad}" title="#{bundle.EditEdificioTitle_capacidad}" required="true" requiredMessage="#{bundle.EditEdificioRequiredMessage_capacidad}"/>
                        <p:outputLabel value="#{bundle.EditEdificioLabel_codigoPostal}" for="codigoPostal" />
                        <p:inputText id="codigoPostal" value="#{edificioController.selected.codigoPostal}" title="#{bundle.EditEdificioTitle_codigoPostal}" />
                        <p:outputLabel value="#{bundle.EditEdificioLabel_edificio}" for="edificio" />
                        <p:selectOneMenu id="edificio" value="#{edificioController.selected.edificio}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="edificioItem"
                                           itemValue="#{edificioItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditEdificioLabel_edificio1}" for="edificio1" />
                        <p:selectOneMenu id="edificio1" value="#{edificioController.selected.edificio1}" required="true" requiredMessage="#{bundle.EditEdificioRequiredMessage_edificio1}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{edificioController.itemsAvailableSelectOne}"
                                           var="edificio1Item"
                                           itemValue="#{edificio1Item}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{edificioController.update}" value="#{bundle.Save}" update="display,:EdificioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EdificioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EdificioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
