<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEdificioTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EdificioListForm">
                <p:panel header="#{bundle.ListEdificioTitle}">
                    <p:dataTable id="datalist" value="#{edificioController.items}" var="item"
                                 selectionMode="single" selection="#{edificioController.selected}"
                                 paginator="true"
                                 rowKey="#{item.fkEdificio}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_fkEdificio}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEdificio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_fkCiudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCiudad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_capacidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capacidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_codigoPostal}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigoPostal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_edificio}"/>
                            </f:facet>
                            <h:outputText value="#{item.edificio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEdificioTitle_edificio1}"/>
                            </f:facet>
                            <h:outputText value="#{item.edificio1}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{edificioController.prepareCreate}" update=":EdificioCreateForm" oncomplete="PF('EdificioCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EdificioViewForm" oncomplete="PF('EdificioViewDialog').show()" disabled="#{empty edificioController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EdificioEditForm" oncomplete="PF('EdificioEditDialog').show()" disabled="#{empty edificioController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{edificioController.destroy}" update=":growl,datalist" disabled="#{empty edificioController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
