<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EdificioViewDlg" widgetVar="EdificioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEdificioTitle}">
            <h:form id="EdificioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{edificioController.selected != null}">
                        <h:outputText value="#{bundle.ViewEdificioLabel_fkEdificio}"/>
                        <h:outputText value="#{edificioController.selected.fkEdificio}" title="#{bundle.ViewEdificioTitle_fkEdificio}"/>
                        <h:outputText value="#{bundle.ViewEdificioLabel_fkCiudad}"/>
                        <h:outputText value="#{edificioController.selected.fkCiudad}" title="#{bundle.ViewEdificioTitle_fkCiudad}"/>
                        <h:outputText value="#{bundle.ViewEdificioLabel_capacidad}"/>
                        <h:outputText value="#{edificioController.selected.capacidad}" title="#{bundle.ViewEdificioTitle_capacidad}"/>
                        <h:outputText value="#{bundle.ViewEdificioLabel_codigoPostal}"/>
                        <h:outputText value="#{edificioController.selected.codigoPostal}" title="#{bundle.ViewEdificioTitle_codigoPostal}"/>
                        <h:outputText value="#{bundle.ViewEdificioLabel_edificio}"/>
                        <h:outputText value="#{edificioController.selected.edificio}" title="#{bundle.ViewEdificioTitle_edificio}"/>
                        <h:outputText value="#{bundle.ViewEdificioLabel_edificio1}"/>
                        <h:outputText value="#{edificioController.selected.edificio1}" title="#{bundle.ViewEdificioTitle_edificio1}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EdificioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
